*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    /*Definição das cores*/
    --cor-fundo: #101214;
    --cor-texto-criar-card: black;
    --cor-cards: #7c7c7c;
    --cor-form-criar-jogo:#DADBD8;
    --cores-botoes: #E83D4A;

    /*Valores de tamanho do card ao vizualizar*/
    --width-card-padrao: 200px;
    --height-card-padrao: 250px;

    --margem-conteudo: 3%;
    --tamanho-conteudo: 70%;
}

html{
    background-color: var(--cor-fundo);
    font-family: 'Courier New', Courier, monospace;
}

nav{
    background-color: var(--cor-form-criar-jogo);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    & a{
        width: 60px;
        height: 60px;
        box-shadow: 1px 1px 2px var(--cor-fundo);
        background-color: var(--cores-botoes);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: black;
        border-radius: 50px;
        border: none;
        margin-right: 5%;
    }
}

#botoesNav{
    display: flex;
    width: 15%;
    justify-content: space-around;
    
}

#mainCriarJogo{
    display: flex;
    justify-content: center;    
    margin-top: var(--margem-conteudo);
}


#formCriarJogo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: var(--tamanho-conteudo);
    height: 60vh;
    background-color: var(--cor-form-criar-jogo);
    border-radius: 20px;
    color: var(--cor-texto-criar-card);
}

#containerDados{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    height: 300px;
    color: white;
    border-radius: 15px;
    background-color: var(--cor-fundo);
    padding: 20px;

    & button{
        width: 60px;
        height: 60px;
        align-self: end;
        border-radius: 100px;
        border: none;
        background-color: var(--cores-botoes);
        cursor: pointer;
        box-shadow: 1px 1px 2px var(--cor-fundo);
    }

    #dataJogo{
        text-align: center;
    }
}

#containerImg{
    width: var(--width-card-padrao) * 150%;
    height: var(--height-card-padrao) * 150%;
    background: linear-gradient(
        var(--cor-cards),
        var(--cor-cards)
    ) top / 100% 250px no-repeat;
    display: flex;
    flex-direction: column;
}

#containerImg:after{
    content: "";
    background-color:var(--cor-cards);
    width: 180px ;
    height: 45px;
    margin-inline: auto;
    align-self: end;
}

#containerNota{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    & h1{
        font-size: 15px;
    }
    & input[type="radio"]{
        display: none;
    }

    & label{
        display: block;
        cursor: pointer;
        transition: transform 0.2s ease;
    }

    & label img{
        width: 36px;
        height: 32px;
        image-rendering: pixelated;
    }

    & input[type="radio"]:checked + label{
        transform: scale(1.2);
    }
}

#capaJogo{
    width: 250px;
    height: 250px;
    object-fit: contain;
    padding: 10px;
}

#containerContudo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2.5%;
    gap: 40px;
    background-color: var(--cor-form-criar-jogo);
    width: var(--tamanho-conteudo);
    border-radius: 20px;
    margin-top: var(--margem-conteudo);
}

#mainVisualizar{
    display: flex;
    justify-content: center;
    
}

.containerCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: var(--width-card-padrao);
    height: var(--height-card-padrao);
    background: linear-gradient(
        var(--cor-cards),
        var(--cor-cards)
    ) top / 100% 210px no-repeat;
    transition: 0.8s ease;
    
    & img{
        margin-left: auto;
        width:140px;
        height: 190px;
        margin-right: 10px;
        object-fit:cover;
    }    

    & h1{
        font-size: 16px;
        color: white;
        position: absolute;
        visibility: hidden;
    }
}

#bordaFormCriacao{
    position: absolute;
    background-color: var(--cor-cards);
    width: 70%;
    height: 60px;
    align-self: end;
}

.containerCard:after{
    content: "";
    background-color: var(--cor-cards);
    width: 180px;
    height: 40px;
    margin-inline: auto;
    align-self: end;

}

.containerCard:hover{
    & h1{
        visibility: visible;
    }
}